@model Categories
@{
    Layout = "~/Views/Shared/_LayoutsAdmin.cshtml";
}
<div class="container">
    <div class="row mt-5">
        <div class="col">
            <div class="card mt-5">
                <div class="card-body">
                    <h3 class="alert alert-success">تعديل فئة </h3>
                    <form asp-action="UpdateCategories" method="post">
                        <div class="row">
                            <input type="hidden" asp-for="Id" />
                            <div class="col">
                                <label class="form-label">اسم الفئة</label>
                                <input type="text" asp-for="Name" class="form-control" />
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                            <div class="col">
                                <label class="form-label">وصف الفئة</label>
                                <input type="text" asp-for="Description" class="form-control" />
                                <span class="text-danger" asp-validation-for="Description"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="form-label">  الأيقونة </label>
                                <input type="text" asp-for="Icon" class="form-control" />
                                <span class="text-danger" asp-validation-for="Icon"></span>
                            </div>
                            <div class="col">
                                <label class="form-label">  الرابط </label>
                                <input type="text" asp-for="Url" class="form-control" />
                                <span class="text-danger" asp-validation-for="Url"></span>
                            </div>
                        </div>

                      <div class="row mt-3">
                          <div class="col text-center">
                              <button type="submit" class="btn-hover color-1">تعديل</button>
                          </div>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

   

</div>