@model IEnumerable<Hotel>

@{
}

<div class="container">
    <div class="row">
        <div class="col">

            <div class="row clearfix">
                <!-- Line Chart -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card mt-5">
                        <div class="body">
                            <div class="row d-flex justify-content-center">
                                @foreach (var item in Model)
                                {
                                    
                                    <div class="col-md-3 col-sm-6">
                                        <div class="product-grid">
                                            <div class="product-image">
                                                <a href="#">
                                                    <img class="pic-1" src="/images/@item.Images" alt="">
                                                    <img class="pic-2" src="/images/@item.Images" alt="">
                                                </a>
                                                <ul class="social">
                                                    <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                                                    <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                                                    <li><a onclick="addtocart(@item.Id)" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                                                </ul>
                                                <span class="product-new-label">Sale</span>
                                                <span class="product-discount-label">20%</span>
                                            </div>
                                            <ul class="rating">
                                                <li class="fa fa-star"></li>
                                                <li class="fa fa-star"></li>
                                                <li class="fa fa-star"></li>
                                                <li class="fa fa-star"></li>
                                                <li class="fa fa-star disable"></li>
                                            </ul>
                                            <div class="product-content">
                                                <h3 class="title"><a href="#">@item.Name</a></h3>
                                                <div class="price">
                                                    @item.Price
                                                    <span>$20.00</span>
                                                </div>
                                                <a class="add-to-cart" onclick="addtocart(@item.Id)">+ Add To Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            </div>
                        </div>
                    </div>
                    <!-- #END# Line Chart -->
                </div>
			
		</div>
	</div>
</div>
